#root{
    /* background-image: url(./newpok.jpg); */

    background-size: cover;
    background-position: 0px 0px;
        background-repeat: no-repeat;
  }

/* html{
    min-height:1000 !important
} */

.parallax-container{
 
    background-color:transparent;

}

.postLoad{
  position:absolute;
    top: 0;
    left: 2%;
    bottom:0;
    right:2%;
    background-color:transparent !important;
}


.parallax > img:first-of-type {

    width:200px !important; 
    height: auto !important;
    bottom: -30px;
}

nav{
    background: -webkit-linear-gradient(-225,rgb(9, 191, 247),rgb(122, 225, 243),rgb(25, 102, 202));
    background: linear-gradient(315deg,rgb(9, 191, 247),rgb(122, 225, 243),rgb(25, 102, 202, 218));
}

.btn{
   background-color: #4ab8b8
}

/* .preLoad{
    height:100%;
} */
.postLoad{
    margin-left:1%;
    margin-right:1%;
    height:100%;
}


.app{
    position:relative;
}
.container{
    margin:0 auto;
    width:80%;
    
    
}



.btn-floating{
    /* margin-right: 50px; */
    background-color: #1b3764!important;
    float:right;
    right: 20vw;
    vertical-align: middle;
    top: -20px;
}


/* 1. Move the picture down so pokemon are at the bottom
2. add a div and  give it opacity but not as a a child div,otherwise opacity is inherited */

#nav-mobile{
    background-color:rgb(129, 224, 248);
    opacity: .8;
}

.searcharea{
    background: -webkit-linear-gradient(-225,rgb(164, 226, 245),rgb(122, 225, 243),rgb(87, 137, 202));
    background: linear-gradient(315deg,rgb(164, 226, 245),rgb(122, 225, 243),rgb(87, 137, 202));
    
    border-radius: 5px !important;
    opacity:.90 !important;
    width: auto;
    height: 100px;
}


.chatContainer{

    margin-left:50px!important;
    margin-right:50px!important;
}

.collapsible-body{
    background-color: white;
}
.collapsible-header{
    background-color: #4ab8b8;
}

.formDiv{
    background-color: rgb(59, 163, 170);
    color:black !important;
    opacity:.9;
    border-radius:5px !important;
    color:white;
    padding-top:1px;

}

.formInstr{
    text-align: center;
    color:white;
}

label{
    color:white !important
}

.pokeCollection{
    /* height: 418.466px!important;
    width: 1098.09px!important; */
    background-color: transparent!important;
    border-color:transparent !important;
    border-radius: 5px;

}
.collection-item{
    background-color: transparent!important;
    border-color:transparent !important;
    width:400px!important;
    height:400px!important;
   
    float:left
    

    
}
.card.horizontal{
    background-color:transparent !important;
    border-radius:10px!important;

}
.card-stacked{
    background-image: url('./pkmnbgstats.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    
    /* border-radius:15px !important; */

}
.card-image{
    background-image: url('./pkmnbgcatchone.png');
    background-size: cover;
    background-repeat: no-repeat;
 
}

.searcharea{
    position: relative;
    opacity: .8;
}
button.searchButton{
    position:absolute;
    right:-2%;
    top: 65%;
    
    
   
}

.offerButton{
    position: absolute;
    top:-90%;
    left: 30%
    
   
}




.pokePost{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto
  
}
.pokeRow{
    position: relative;
    background-size: cover;
}
.pokeProfile{
    background-color: rgb(174, 239, 255);
    /* border-radius: 15px !important; */
    height: 598.005px !important;
    
}

.overLay{
    z-index:500;
position: absolute;
background-color: transparent;
top:0;
bottom:0;
left:0;
right:0;


}

.myTrade{
    background-image: url(./arrow.png);
    background-size: contain;
    background-repeat:no-repeat;
    display:inline-block;
    overflow: hidden;
position: relative;
background-color: rgb(228, 250, 255,.6);
margin-left:20px !important;
margin-right:20px!important;
margin-top:20px!important;

     
}

.tradeIm{

    max-width:231px;
}

.messageText{
    background-color:rgb(172, 217, 228) !important;
}

.tradeRow{
    position: absolute;
    z-index:-2;
    
}

.tradeInfo{
  
    background-color: rgb(228, 250, 255) ;
   
 
}

.chatArea{
  
   
    width:auto;
    padding-top:50px;
    margin-bottom: 100;
    position: relative;
}
.pokeChat{
    height:100% !important;
    display:inline;
}

.chatThread{
    width: 100% !important;
    height: 50px !important;
}



.messageButton{

    

    margin-left:30px;
    margin-top:220px;
    position:absolute;
    bottom:0;
    left:0;
    background-color:hsl(192, 72%, 60%) !important;
    height:30px;
    float:right;
}

.messageText{
    background-color:rgb(241, 219, 171);
    position:absolute;
    box-shadow: grey;
    width:200px;
    top:210px;
    left:95px;
}

.topDiv{
    padding-bottom:0;
    margin-bottom:0;
}
.row.topDiv{
    margin-bottom:0 !important;
}
.chatMess{
    background-color:white;
}

.threadButton{
    position:relative;
    top:60px;
    left:15px;
    
    
}

.collection{
    border:none !important;
    background-image: url('./newpok.jpg');
    background-size: cover;
    background-repeat: no-repeat
}


.proPic{
    max-width:100%;
max-height:100%;
-webkit-border-radius: 50%;
  
    border-radius: 60%;
    background-color: rgb(174, 239, 255)
}
.proHeader{
    text-align: center;
    font-size: 40px;
}


.viewButton{
    z-index: 2;
    position:absolute;
    top:50%; 
    left:38%;
}

.modal{
    background-color: rgb(174, 239, 255) !important;
    color:rgb(255, 255, 255);
    font:rgb(142, 209, 248);
    /* border-radius:15px !important; */

}
.modal-content{
    background-color: rgb(76, 184, 211);
    mix-blend-mode: multiply;
    opacity:.9
}

.btn.modal-action{
    /* border-radius: 15px; */
    background-color: rgb(174, 239, 255);
}

.btn{
    text-align: center;
}

.panelTwo{
    background-color: #4ab8b8!important;
}
.panelThree{
    background-color: #fafccb!important;
}
.panelFour{
    background-color: #4ab8b8!important;
}
.indicator-item{
    background-color:  #1b3764!important;
}




li > .circle{
    object-fit: contain;
    width:260px!important;
    height: 140px!important;
    background-color: #fafccb;
    /* border-radius: 500px; */
}

.dropdown-content{
    position:absolute;
    z-index:10000 !important;
    background-color:transparent;
  
}



.collection{
    height:600px;
    overflow-y: scroll;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:rgb(236, 195, 145);
    /* border-radius: 10px; */
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(182, 36%, 66%);;
}

.footer{
    background: -webkit-linear-gradient(-225,rgb(248, 158, 47),rgb(70, 224, 165),rgb(21, 250, 124));
    background: linear-gradient(315deg,rgb(248, 158, 47),rgb(70, 224, 165),rgb(21, 250, 124));
    /* border-radius: 15px; */
    opacity:1;
  
}