#root{
    background-image: url(./pkmnbg.png);
    background-position: 45%;
}

.app{
    position:relative;
}
.container{
    margin:0 auto;
    width:90%;
}



.btn-floating{
    /* margin-right: 50px; */
    background-color: #1b3764!important;
    float:right;
    right: 20vw;
    vertical-align: middle;
    top: -20px;
}
.navBar{
    background-color: #ee6e73;
    border-radius: 15px !important;
    opacity:.8;
    height:100px;
    font-family: 'Courier New', Courier, monospace!important;
    font-size: 70px;
    color:white;
    text-align: center;
    vertical-align: 50%;
    font: 40px;
}

.searcharea{
    background-color: #ee6e73;
    border-radius: 15px !important;
    opacity:.7;
    width: auto;
    height: 50px;
}


.formDiv{
    background-color:#ee6e73;
    opacity:.7;
    border-radius:15px !important;
    color:white

}

label{
    color:white !important
}

.pokeCollection{
    /* height: 418.466px!important;
    width: 1098.09px!important; */
    background-color: transparent!important;
    border-color:transparent !important;

}
.collection-item{
    background-color: transparent!important;
    border-color:transparent !important;
    width:400px!important;
    height:400px!important;
    
    float:left
    

    
}
.card.horizontal{
    background-color:transparent !important;


}
.card-stacked{
    background-color:bisque;
    border-radius:15px !important;

}
.card-image{
    background-color:transparent !important;
}

.searcharea{
    position: relative;
}
.btn.searchButton{
    position: absolute;
    top:29%;
    left: -1%
    
   
}

.card{
    border-radius:15px !important;
}



.pokePost{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.pokeRow{
    position: relative;
    background-size: cover;
}

.viewButton{
    z-index: 2;
    position:absolute;
    top:50%; 
    left:38%;
}

.modal{
    background-color: beige !important;
    color:brown;
    font:brown;
    border-radius:15px !important;

}
.modal-content{
    background-color:#ee6e73;
    mix-blend-mode: multiply;
    opacity:.9
}

.btn.modal-action{
    border-radius: 15px;
    background-color: beige;
}

.btn{
    text-align: center;
}

.panelTwo{
    background-color: #4ab8b8!important;
}
.panelThree{
    background-color: #fafccb!important;
}
.panelFour{
    background-color: #4ab8b8!important;
}
.indicator-item{
    background-color:  #1b3764!important;
}




li > .circle{
    object-fit: contain;
    width:260px!important;
    height: 140px!important;
    background-color: #fafccb;
    border-radius: 500px;
}

.dropdown-content{
    border-radius: 20px;
}



.collection{
    height:600px;
    overflow-y: scroll;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:bisque;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ee6e73;
}
